
<!-- <p>Find me in app/views/paws/index.html.erb</p> -->
  
  <div class="dog">
    <div class="dog-module">
        <%= image_tag 'http:' + @profile.css("#imgAnimalPhoto").first["src"] %>
      
      <div id="tosan">
        <h3><%= @profile.css("#lbName").text %></h3>
        <p>ID: <%= @profile.css("#lblID").text %></p>
        <p>Species: <%= @profile.css("#lblSpecies").text %> </p>
        <p>Sex: <%= @profile.css("#lbSex").text %> </p>
        <p>Breed: <%= @profile.css("#lbBreed").text %> </p>
        <p>Age: <%= @profile.css("#lbAge").text %> </p>
      </div>
    </div>
  </div>


